<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
</head>
<body>

    <form th:action="@{/qrcode}" method="post" role="form">
        <fieldset>

            <h2>Your verification code</h2>
            <div th:if="${param.error}" class="alert alert-danger">
                <strong>Invalid verification code.</strong>
            </div>

            <hr class="colorgraph"/>
            <img src="qrcode/image/" width="200" height="200" />

            <hr class="colorgraph"/>
            <div class="form-group">
                <input type="text" id="code" name="code" class="form-control input-lg"
                       placeholder="Verification code" required="true"/>
            </div>

            <hr class="colorgraph"/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <!-- needed for  Cross Site Request Forgery -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Send</button>
                </div>
            </div>

        </fieldset>
    </form>


</body>
</html>